@import 'bootstrap';

:root {
    --white: #fafafa;
    --black: #080808;
    --primary-color: #3f69ff;
}

body {
    font-family: "Roboto", sans-serif;
}

.nav-custom {
    color: var(--white);
}

.bg-custom {
    background-color: var(--white);
    color: var(--black);
}

.img-cover {
    /* object-fit: contain; */
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.nav-link:hover {
    color: var(--primary-color);
}

.form-control:focus,
.form-control:active {
    outline: 1px solid var(--primary-color);
    box-shadow: none;
}